<!-- shop/templates/shop/product/detail.html -->
{% extends "base.html" %}

{% block content %}
<h1>О товаре</h1>
<div class="row">
    <div class="col-md-6">
        <img src="{{ product.image.url }}" alt="{{ product.name }}" style="max-width: 35vw;">
    </div>
    <div class="col-md-6">
        <h2>{{ product.name }}</h2>
        <p>Price: $ {{ product.price }}</p>
        <p>Описание:</p>
        <p>{{ product.description }}</p>
        <a href="{% url 'add_to_cart' product.id %}" class="btn btn-primary">Добавить в корзину</a>
    </div>
</div>
{% endblock %}